.banner-img.style-2 {
    border-radius: 15px;
    overflow: hidden;
    height: 400px;
   
    background-size: cover;
    width:
     100%;
}
.seasonal{
    background: url(../images/SeasonalCover.jpg) no-repeat center bottom !important;

}
.banner-img {
    position: relative;
    clear: both;
    border-radius: 10px;
    overflow: hidden;
}
.default-img:hover
{
    transform: scale(1.1);
}
.banner-img.style-2 .banner-text {
    top: 50px;
    -webkit-transform: none;
    transform: none;
}
.banner-img .banner-text {
    position: absolute;
    top: 50%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 25px;
}
.mb-100 {
    margin-bottom: 100px !important;
}
.btn.btn-xs, .button.btn-xs {
    padding: 7px 8px 7px 12px;
    font-size: 12px;
    text-transform: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.3;
}
.product-cart-wrap .product-img-action-wrap {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    max-height: 320px;
    padding: 15px;
}
.carausel-4-columns-cover .carausel-4-columns .product-cart-wrap {
    margin-right: 12px;
    margin-left: 12px;
}
.carausel-4-columns-cover .product-cart-wrap {
    margin-bottom: 20px;
}
.product-cart-wrap {
    position: relative;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 15px;
    overflow: hidden;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
}
.product-cart-wrap .product-img-action-wrap .product-img {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.product-cart-wrap .product-img-action-wrap .product-img a {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-cart-wrap .product-img-action-wrap .product-img-zoom a img {
    -webkit-transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
    transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
}
.product-cart-wrap .product-img-action-wrap .product-img a img {
    width: 100%;
}
.product-cart-wrap .product-img-action-wrap .product-img a img.hover-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s opacity, 0.25s visibility, transform 1.5s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.product-cart-wrap .product-img-action-wrap .product-action-1 {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #BCE3C9;
}
.product-cart-wrap .product-action-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 9;
    -webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
}
.product-cart-wrap .product-badges.product-badges-position {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 9;
}
.product-cart-wrap .product-badges.product-badges-mrg {
    margin: 0 0 10px;
}
.product-cart-wrap .product-badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-cart-wrap .product-badges span.best {
    background-color: #712005;
}
.product-cart-wrap .product-badges span:last-child {
    margin-right: 0px;
}
.product-cart-wrap .product-badges span {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    border-radius: 15px 0 20px 0;
    color: #fff;
    padding: 9px 20px 10px 20px;
}
.product-cart-wrap .product-content-wrap {
    padding: 0 20px 20px 20px;
}
.product-cart-wrap .product-content-wrap .product-category {
    margin-bottom: 5px;
}
.product-cart-wrap .product-content-wrap .product-category a {
    color: #adadad;
    font-size: 12px;
}
.product-cart-wrap .product-content-wrap h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.product-cart-wrap .product-content-wrap .product-price {
    padding-top: 5px;
}
.product-cart-wrap .product-content-wrap h2 a {
    color: #253D4E;
}
.btn, .button {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 4px;
    color: #434343 ;
    border: 1px solid transparent;
    background-color: #93C572 ;
    cursor: pointer;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    letter-spacing: 0.5px;
}
.product-cart-wrap:hover {
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid #93C572;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
}
.carausel-4-columns-cover .product-cart-wrap:hover {
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.product-cart-wrap:hover .product-img-action-wrap .product-action-1 {
    opacity: 1;
    visibility: visible;
}
.product-cart-wrap .product-action-1 button:hover, .product-cart-wrap .product-action-1 a.action-btn:hover {
    color: #9a320b;
}
.product-cart-wrap .product-action-1 button.small, .product-cart-wrap .product-action-1 a.action-btn.small {
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.hover-up:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    color: #fff;
    background: #93C572;
}
.product-cart-wrap .product-action-1 button, .product-cart-wrap .product-action-1 a.action-btn {
    width: 40px;
    height: 36px;
    line-height: 40px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-right: 1px solid #BCE3C9;
}
.small, small {
    font-size: .875em;
}
.product-cart-wrap .product-action-1 button:hover:after, .product-cart-wrap .product-action-1 a.action-btn:hover:after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-8px);
    transform: translateX(-50%) translateY(-8px);
}
.product-cart-wrap .product-action-1 button:after, .product-cart-wrap .product-action-1 a.action-btn:after {
    bottom: 100%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    border-radius: 5px;
    font-size: 11px;
    padding: 7px 10px;
    color: #712005;
    background-color: #fff;
    content: attr(aria-label);
    line-height: 1.3;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0px);
    transform: translateX(-50%) translateY(0px);
}
.product-cart-wrap .product-content-wrap h2 a:hover {
    color: #93C572 ;
}
.product-cart-wrap .product-content-wrap .product-price span.old-price {
    font-size: 14px;
    color: #adadad;
    margin: 0 0 0 7px;
    text-decoration: line-through;
}
